/*
  Customise css for Wipro Digital
*/

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-image:url(../img/background.jpg);;
}


header {
  background:	#0f0e0a;
  overflow: hidden;
  font-family:sans-serif;
}


header img{
  margin:10px 0px;
}

nav li{
  display: inline;
  margin: 5px;
  padding: 3px;
}


nav {
 margin:11px;
}

header li a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}


header li a:hover{
  text-decoration: none;
  color:	#00ffff;
  font-weight: bold;
}

//diff
.wrap1{
  color:white;
  overflow: hidden;
}

//dif
.desc{
    overflow: hidden;
    background-image: url(../img/blue.png);;
    color:white;
    padding: 30px;
}
//dif
.desc p{
  font-family:serif;
}
//dif
.main{
  color: black;
  background: white;
}
//dif
.main img{
  height:auto;
  width: 270px;
}
//dif
.main section{
  padding:25px;
 }
//dif
.main p{
  text-align: left;
  font-family: monospace;
  color:#666666;
  font-size:18px;
}

.footer{
  background-color: #1f1f14;
  color: white;
  overflow: hidden;
}

.footer section{
  padding: 20px;
}

.footer ul{
  padding:0px;
  list-style: none;
}

.footer li a{
  text-decoration: none;
  color:white;
}

.footer li a:hover{
  text-decoration: none;
  color:	#00ffff;
}

.social li{
  display: inline;
  padding: 10px 10px 10px 0px;
}

.copyright{
  background-color:black;
  color:#ebebe0;
  padding-left:600px;
  padding-top:30px;
  padding-bottom:30px;
}

.main a{
    color:#003333;
}

.main a:hover{
  color:#33ffff;
}

/*
  updating grid_12
*/
.container_12 .grid_12 {
  width: 960px;
}
