/*
  Customise css for Wipro Digital
*/

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-image:url(../img/background.jpg);
}

header {
  background:	#0f0e0a;
  overflow: hidden;
  font-family:sans-serif;
}

header img{
  margin:10px 0px;
}

nav li{
  display: inline;
  margin: 5px;
  padding: 3px;
}

nav{
 margin:11px;
}

header li a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}

header li a:hover{
  text-decoration: none;
  color:	#00ffff;
  font-weight: bold;
}

.wrap{
  color:white;
  overflow: hidden;
  background-image: url(../img/blue.png);
}

.side_div{
  margin:20px;
  border: 1px outset  black;
  height:auto;
  padding-bottom: 10px;
  background:black;
  opacity:0.6;
}

.side_div h2{
  margin: 0px;
  text-align: center;
  text-shadow: 0 1px 0 grey;
}

label{
  margin:10px;
  font-size:20px;
  font-family: cursive;;
  display: block;
  cursor: pointer;
}

textarea{
  border:2px #13001a inset;
  margin: 10px;
}

.submit{
  margin:0px 55px;
  background-color:#330033;
  color: white;
  text-shadow: 0 1px 0 grey;
  text-align: center;
  width:150px;
  height: 30px;
  font-size: 16px;
}

.img_div{
  background-color:white;
  overflow: hidden;
  border-bottom: 2px #d9d9d9 inset;
}

.content{
  background: white;
  overflow:hidden;
}

.content img{
  height:auto;
  width: 250px;
}

.content section{
  padding:30px;
}

.heroic{
  background-image: url(../img/blue_1.png);
  overflow:hidden;
}

.heroic  article p{
  text-align: center;
  color:white;
  font-size: 25px;
  font-family:monospace;
}

.heroic h2{
  color:white;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 0 grey;
}

.heroic article video{
  margin-top:-666px;
  margin-bottom: -200px;
  width:600px;
  height:900px;
}

.content1{
  font-family: 'Alegreya', serif;
  background: white;
  padding:10px 0px;
  text-align: justify;
}

.content1 section{
  margin: 10px;
  padding:10px;
}

.content1 h2{
  margin: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.content1 span{
  font-size:18px;
  font-style: oblique;
  font-family: monospace;
  color:#5c8a8a;
}

.content1 img{
  width:280px;

}

.content1 a{
  color:#003333;
}

.content1 a:hover{
  color:#33ffff;
}

footer{
  background-color: #1f1f14;
  color: white;
  overflow: hidden;
}

footer section{
  padding: 20px;
}

footer ul{
  padding:0px;
  list-style: none;
}

footer li a{
  text-decoration: none;
  color:white;
}

footer li a:hover{
  text-decoration: none;
  color:	#00ffff;
}

.social li{
  display: inline;
  padding: 10px 10px 10px 0px;
}

.copyright{
  background-color:black;
  color:#ebebe0;
  padding-left:600px;
  padding-top:30px;
  padding-bottom:30px;
}

.content ul{
  padding: 12px;
  list-style-type:circle;
}

article h2{
  padding-left: 25px;
}

.wrap article {
  line-height:1.5em;
}

/*
  updating grid_12
*/
.container_12 .grid_12 {
  width: 960px;
}


/*
  css for resource
*/



.wrap1{
  color:white;
  overflow: hidden;
}


.desc{
    overflow: hidden;
    background-image: url(../img/blue.png);;
    color:white;
    padding: 30px;
}

.desc p{
  font-family:serif;
}

main{
  color: black;
  background: white;
}

main img{
  height:auto;
  width: 270px;
}

main section{
  padding:25px;
 }

main p{
  text-align: left;
  font-family: monospace;
  color:#666666;
  font-size:18px;
}

main a{
    color:#003333;
}

main a:hover{
  color:#33ffff;
}
