body{
  background-color:#DCDCDC;
  font-family: sans-serif;
}
.center_div{
  margin :auto;
  width:500px;
}
blockquote{
  border:white solid ;
  text-align:center;
  margin-top: auto;
  margin-left: auto;
}
