body{
  background-color:#F5FFFA;
  font-family:serif;
}
.wrap{
  background-color: #4B0082;
  color: white;
  min-width: 400px;
  width:700px;
  margin:auto;
}
.content,aside{
  height: 600px;
}
.content{
 width:70%;
  background-color: #E6E6FA;
  color:black;
  float:left;
}
aside {
  background-color: #008000;
  color:white;
  float: left;
  width:30%;
}
aside ul{
  list-style: none;
  padding-left: 80px;
}
.list{
  display:inline;
  padding: 10px;
}
a{
  text-decoration: none;
  color:white;
}
a:hover{
    text-decoration: underline;
  color:yellow;
}
